.reply .reply-header {
	max-width: 800px;
	margin: 0 auto;
	padding: 70px 10px 80px;
	text-align: center;
	.reply-header-title {
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		margin: 0;
		padding: 0;
		line-height: 1;
	}
}
.reply .reply-form-wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
}