// Global
@import "global/variables";
@import "global/animations";

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body, html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  font-family: 'Open Sans', sans-serif, arial;
  color: $c-black;
  font-size: 16px;
  display: block;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

* {
  min-height: 0;
  min-width: 0;
}


// Layouts
@import "layouts/replies";
@import "layouts/forms";
@import "layouts/pages";
@import "layouts/buttons";

// Forms
@import "forms/forms";
@import "forms/forms-clarified";
