<div class="reply-message-wrapper">
    <div class="reply-message">
        <div class="reply-message-icon"></div>
        <h1 class="reply-message-title">Thank you for answering!</h1>
    </div>
</div>
