.btn {
	// padding: 10px 20px;
	border-radius: 0;
	// box-shadow: 0 0 15px 1px rgba(89, 101, 111, 0.3);
	border: 0;
	border-bottom: 3px solid $c-beige;
	transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
	text-transform: uppercase;
	font-weight: 700;
	i {
		margin: 0 5px 0 0;
	}
	&:hover, &:focus {
		box-shadow: none !important;
		outline: none !important;
		i {
			animation: tada 1s;
		}
	}
}
.btn.btn-left {
	margin-right: auto;
}
.btn.btn-right {
	margin-left: auto;
}
.btn.btn-lg {
	padding: 15px 30px 12px;
	font-size: 20px;
}
.btn-purple {
	background-color: $c-purple;
	color: $c-white;
	border-color: $c-beige;
	&:hover, &:focus {
		box-shadow: none;
		background-color: $c-beige;
		color: $c-purple;
		border-color: $c-purple;
	}
}

.btn-beige {
	background-color: $c-beige;
	color: $c-gray;
	border-color: $c-gray;
	&:hover, &:focus {
		box-shadow: none;
		background-color: $c-gray;
		color: $c-beige;
		border-color: $c-beige;
	}
}