@-webkit-keyframes bgGrayPurple {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@-moz-keyframes bgGrayPurple {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@keyframes bgGrayPurple {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

.bg-animated-purple-gray {
    background-color: $c-purple;
    background: linear-gradient(140deg, $c-black, $c-purple);
    background-size: 300% 300%;
    animation: bgGrayPurple 10s ease infinite;
}
