ul#side-menu.nav
  li.nav-header
    span.block.m-t-xs
      strong.font-bold
        = current_user.email
  li
    a[href="#{authenticated_home_path}"]
      i.fa.fa-th-large
      |  Dashboard
  li
    a[href="#{surveys_path}"]
      i.fa.fa-search
      |  Surveys
  li
    a[href="#{users_path}"]
      i.fa.fa-users
      |  Users
  li
    a[href="#{edit_user_registration_path}"]
      i.fa.fa-user
      |  Profile